<!DOCTYPE html>
<html lang="en"
    xmlns:th="https://www.thymeleaf.org"
>
<head>
    <div th:replace="~{fragments/head :: head}"></div>

    <title th:text="${product.id == null} ? 'Добавить товар' : 'Редактировать товар'">Форма</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col border rounded-3 my-5 p-4">
<!--                    ??? -->
                    <p class="fs-5 mb-4" th:text="${product.id == null} ? 'Добавить товар' : 'Редактировать товар'"></p>
                    <form th:action="@{/product/save}" method="post" th:object="${product}">
                        <div class="row">
                            <input type="hidden" th:field="*{id}"/>
                        </div>
                        <div class="row align-items-center g-4 mb-3">
<!--                            Займет только необходимое пространство -->
                            <div class="col-sm-3">
                                <label class="col-form-label" for="name">Название товара</label>
                            </div>
<!--                            Займет все доступное пространство -->
                            <div class="col-sm-9">
                                <input class="form-control" type="text" name="name" id="name" placeholder="Введите название товара" th:field="*{name}" required/>
                            </div>
                        </div>
                        <div class="row align-items-center g-4 mb-4">
                            <div class="col-sm-3">
                                <label class="col-form-label" for="description">Описание товара</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" name="description" id="description" placeholder="Введите описание товара" th:field="*{description}"/>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-auto">
                                <button class="btn btn-outline-primary rounded-pill py-2 px-4" type="submit">Сохранить изменения</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>