// sass -w --no-source-map styles/scss:styles/css
// sass -w --no-source-map static/styles/scss:static/styles/css
@use "sass:map";

@import "../bootstrap/scss/functions";

$theme-typography: (
  "font-family": 'Inter',
  "font-size": 16px
);

$btn-border-radius: 12px;

$primary: #73AB84;
$secondary: #3B6064;

$light: #FAF4F0;
$dark: #313131;

$info: #95B6DA;
$success: #E990C0;

$warning: #FAA916;
$danger: #FC7373;

$body-bg: shade-color($light, 5%);
$table-bg: $light;

$body-color: $dark;
$body-emphasis-color: $dark;
$btn-close-color: $dark;

$dark-border-subtle: tint-color($dark, 50%);
$border-color: tint-color($dark, 70%);

$pagination-bg: $light;

$pagination-border-color: none;
$pagination-hover-bg: $primary;

$pagination-padding-x: 0;
$pagination-padding-y: 0;

$dropdown-link-hover-bg: $light;

$enable-negative-margins: true;

@import "../bootstrap/scss/_variables.scss";

$additional-spacers: (
  6: $spacer * .75,
  7: $spacer * 2,
  8: $spacer * 2.5,
  9: $spacer * 3.5
);

$additional-font-sizes: (
  6: $font-size-base * 1.125,
  7: $font-size-base
); 

$spacers: map.merge($spacers, $additional-spacers);
$font-sizes: map.merge($font-sizes, $additional-font-sizes);

$input-border-color: $dark-border-subtle;
$input-padding-x: map.get($spacers, 3);
$input-padding-y: map.get($spacers, 2);

$nav-link-font-size: map.get($font-sizes, 6);

@import "../bootstrap/scss/bootstrap";

html {
  font-size: map.get($theme-typography, "font-size");
  font-family: map.get($theme-typography, "font-family"), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  // Гротески, если нет гельветики
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.brand-logo-size {
  width: 32px;
  height: 32px; 
}

.brand-icon-size {
  width: 56px;
  height: 56px; 
}

#brand-logo {
  --dark-color: #{$dark};
  --stroke-width: 2.5px;
}

.social-media {
  
  padding: 10px;
  
  & svg {
    width: 24px;
    height: 24px;
  }  
  
  & #vk-icon {
    --dark-color: #{$dark};
    --primary-color: #{$primary};
  }
  
  & #github-icon {
    --dark-color: #{$dark};
  }

}

.social-media:hover,
.social-media:active {
  & #vk-icon {
    --dark-color: #{$primary};
    --primary-color: #{$dark};
  }
  
  & #github-icon {
    --dark-color: #{$primary};
  }  
}

.update-table-entry {
  text-decoration: none;
  cursor: default;

  & svg {
    width: 18px;
    height: 18px;
  }
  
  & #edit-icon {
    --stroke-color: #{$border-color};      
  }
}

.update-table-entry:hover, 
.update-table-entry:active { 
  & #edit-icon {
    --stroke-color: #{$warning};      
  }
}

.btn-dark,
.btn-outline-dark:hover {
  color: $light;
}

.stack-trace-list {
  list-style-type: "\1F4A5";
}

#background-image {
  // Чтобы изображение масштабировалось нормально, а не сжималось
  width: 100%;
  height: 100vh;

  position: fixed;
  top: 0;

  background-size: cover;
  // x -> расположить по центру, y -> расположить по центру.
  background-position: center center;

  // Чтобы все остальные элементы отрисовывались поверх фонового изображения.
  z-index: -1;
}

.page-link-size {
  width: 2.25rem;
  height: 2.25rem;
}

.custom-page-item {
  @extend .page-item;
  line-height: 2.25rem;
  font-weight: 500;
}

.custom-pagination {
  @extend .pagination;
  box-shadow: 0 5px 15px rgba($dark, .05);
}

.dots {
  margin: 0;
  text-decoration: none;
  cursor: default;
}

.main-container-size {
  width: vw;
  min-height: calc(100vh - map.get($spacers, 2) * 4 - $h5-font-size); 
}

.p-pagination {
  padding: .375rem;
}

.p-button {
  padding: calc(.75rem - $border-width) calc(1.5rem - $border-width);
}

.rounded-custom {
  border-radius: .875rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: $input-border-width solid $input-border-color;
  -webkit-text-fill-color: $input-color;
  -webkit-box-shadow: 0 0 0px 1000px tint-color($primary, 75%) inset;
  transition: background-color 5000s ease-in-out 0s;
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @if $color != "light" and $color != "dark" {
      color: $dark;
    }
  }
}

.custom-dropdown-offset {
  transform: translate(0px, 16px);  
}