// sass -w --no-source-map styles/scss:styles/css
@use "sass:map";

$theme-typography: (
  "font-family": 'Inter',
  "font-size": 17px
);

$btn-border-radius: 12px;

$body-bg: #FAF4F0;

$primary: #73AB84;
$secondary: #3B6064;
$dark: #313131;
$info: #95B6DA;
$success: #F6A7C0;
$warning: #FAA916;
$danger: #FC7373;

$body-color: $dark;
$body-emphasis-color: $dark;
$btn-close-color: $dark;

@import "../bootstrap/scss/bootstrap";

html {
  font-size: map.get($theme-typography, "font-size");
  font-family: map.get($theme-typography, "font-family"), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  // Гротески, если нет гельветики
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.brand-logo-size {
  width: 32px;
  height: 32px; 
}

#brand-logo {
  --dark-color: #{$dark};
  --stroke-width: 2.5px;
}

.social-media {
  
  padding: 10px;
  
  & svg {
    width: 24px;
    height: 24px;
  }  
  
  & #vk-icon {
    --dark-color: #{$dark};
    --primary-color: #{$primary};
  }
  
  & #github-icon {
    --dark-color: #{$dark};
  }

}

.social-media-icons:hover,
.social-media-icons:active {
  & #vk-icon {
    --dark-color: #{$primary};
    --primary-color: #{$dark};
  }
  
  & #github-icon {
    --dark-color: #{$primary};
  }  
}

.update-delete-table-entry {
  & svg {
    width: 17px;
    height: 17px;
  }
  
  & #edit-icon {
    --dark-color: #{$info};      
  }

  & #remove-icon {
    --dark-color: #{$danger};      
  }
}

.update-delete-table-entry:hover, 
.update-delete-table-entry:active { 
  & #edit-icon,
  & #remove-icon {
    --dark-color: #{$dark};      
  }
}

.btn-dark,
.btn-outline-dark:hover {
  color: $light;
}

.stack-trace-list {
  list-style-type: "\1F4A5";
}