<!DOCTYPE html>
<html lang="ru"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <div th:replace="~{fragments/head :: head}"></div>

    <title>500 Ошибка на стороне сервера</title>
</head>
<body>
    <header class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a href="/">
                <img th:src="@{/images/brand-logo.svg}" alt="">
                виртуальная кофейня "местный Старбакс"
            </a>
        </div>
    </header>
    <main>
        <div class="text-center">
            <h1 class="display-1">500</h1>
        </div>
        <div class="container">
            <p th:text="'Произошла ошибка &quot;' + ${name} + '&quot; с сообщением &quot;' + ${message} + '&quot; -> попробуйте повторить запрос позже.'"></p>
            <h2>Стек-трейс ошибки (последний вызов -- самый последний)</h2>
            <ul>
                <li th:each="stackFrame : ${stackTrace}">
                    <span th:text="${stackFrameStat.last} ? ${stackFrame} + ' &lt;- последний вызов' : ${stackFrame} + ' &lt;- ' "></span>
                </li>
            </ul> 
        </div>
    </main>
    <footer></footer>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>