<!DOCTYPE html>
<html lang="ru"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <div th:replace="~{fragments/head :: head}"></div>

    <title>404 Страница не найдена</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('none')}"></nav>
    </header>
    <main>
        <div class="container text-center py-5">
            <div class="row">
                <h1 class="display-1">404</h1>
            </div>
            <div class="row">
                <p class="fs-5" th:text="${message}"></p>
            </div>
            <div class="row mt-4">
<!--                Иллюстрация -->
                <img class="img-fluid" th:src="@{/images/page-not-found-illustration.png}" alt="">
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>